{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Marketplace</title>
        <link rel="stylesheet" href="{% static 'css/style_anunciados.css' %}">
    </head>
    <body>
    <div class="overlay">
        <div class="container">
            <header class="cabecalho">

                <div>

                    <h1>Marketplace</h1>

                    <p>Explore os anúncios disponíveis.</p>

                </div>

                <a href="{% url 'perfil' %}" class="voltar">

                    ← Perfil

                </a>

            </header>

            {% if page_obj %}

                <div class="grid">

                    {% for anuncio in page_obj %}

                        <div class="card">

                            <img src="{% static 'img/sem_foto.png' %}" alt="Produto">

                            <div class="conteudo">

                                <h2>{{ anuncio.produto.nome_produto }}</h2>

                                <p class="categoria">

                                    {{ anuncio.produto.categoria.nome_categoria }}

                                </p>

                                <p class="descricao">

                                    {{ anuncio.descricao }}

                                </p>

                                <p class="vendedor">

                                    👤 {{ anuncio.usuario.username }}

                                </p>

                                <h3>

                                    R$ {{ anuncio.preco }}

                                </h3>

                                <button>

                                    Ver anúncio

                                </button>

                            </div>

                        </div>

                    {% endfor %}

                </div>

            {% else %}

                <div class="vazio">

                    <img src="{% static 'img/sem_foto.png' %}">

                    <h2>Nenhum anúncio disponível.</h2>

                </div>

            {% endif %}

            <div class="paginacao">

                {% if page_obj.has_previous %}

                    <a href="?page={{ page_obj.previous_page_number }}">

                        ← Anterior

                    </a>

                {% endif %}

                <span>

                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}

                </span>

                {% if page_obj.has_next %}

                    <a href="?page={{ page_obj.next_page_number }}">

                        Próxima →

                    </a>

                {% endif %}
            </div>
        </div>
        </div>
    </body>
</html>