{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inventário</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="login-box">
            <h2>Inventário</h2>
            <form method="POST">
                {% csrf_token %}

                <input type="text" name="nome_produto" placeholder="Nome">

                <input type="text" name="modelo" placeholder="Modelo">

                <input type="number" name="ano" placeholder="Ano">

                <input type="text" name="serie" placeholder="Série">

                <input type="text" name="raridade" placeholder="Raridade">

                <textarea name="descricao"></textarea>

                <select name="categoria">
                    {% for categoria in categorias %}
                        <option value="{{ categoria.id }}">
                            {{ categoria.nome_categoria }}
                        </option>
                    {% endfor %}
                </select>

                <button type="submit">
                    Cadastrar Produto
                </button>

            </form>
            <a href="{% url 'perfil' %}">Voltar</a>
        </div>
    </body>
</html>