{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro de usuário</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="login-box">
            <h2>Cadastro de usuário</h2>
            {% if erro %}
                <p style="color:red">{{ erro }}</p>
            {% endif %}
            <form method="POST">
                {% csrf_token %}

                <input
                    type="text"
                    name="username"
                    placeholder="Usuário"
                    required
                >

                <input
                    type="email"
                    name="email"
                    placeholder="E-mail"
                    required
                >

                <input
                    type="password"
                    id="password"
                    name="senha"
                    placeholder="Senha"
                    required
                >

                <input
                    type="password"
                    id="confirm_password"
                    name="confirmar_senha"
                    placeholder="Repita a senha"
                    required
                >

                <div id="password-rules" style="display:none">

                    <p id="length">✔ Pelo menos 8 caracteres</p>

                    <p id="lower">✔ Letra minúscula</p>

                    <p id="upper">✔ Letra maiúscula</p>

                    <p id="number">✔ Número</p>

                    <p id="special">✔ Caractere especial</p>

                </div>

                <input type="submit" value="Cadastrar">

            </form>
            <a href="{% url 'logout' %}">Voltar</a>
        </div>
    </body>
    <script src="{% static 'js/cadastro.js' %}"></script>
</html>