{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar anúncio</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<div class="login-box">

    <h2>Cadastrar anúncio</h2>

    <form method="POST">
        {% csrf_token %}

        <select name="produto">

            {% for produto in produtos %}
                <option value="{{ produto.id }}">
                    {{ produto.nome_produto }}
                </option>
            {% endfor %}

        </select>

        <input
            type="number"
            step="0.01"
            name="preco"
            placeholder="Preço"
        >

        <textarea
            name="descricao"
            placeholder="Descrição do anúncio"
        ></textarea>

        <button type="submit">
            Publicar anúncio
        </button>

    </form>

    <a href="{% url 'perfil' %}">
        Voltar
    </a>

</div>

</body>
</html>