{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Criar Conta</title>
        <link rel="stylesheet" href="{% static 'css/style_cadastro.css' %}">
    </head>
    <body>
    <div class="overlay">

        <div class="cadastro-card">

            <div class="logo">

                <h1>Marketplace</h1>

                <p>Crie sua conta gratuitamente.</p>

            </div>

            {% if erro %}

                <div class="erro">

                    {{ erro }}

                </div>

            {% endif %}

            <form method="POST">

                {% csrf_token %}

                <input
                    type="text"
                    name="username"
                    placeholder="Nome de usuário"
                    required
                >

                <input
                    type="email"
                    name="email"
                    placeholder="E-mail"
                    required
                >

                <input
                    type="password"
                    id="password"
                    name="senha"
                    placeholder="Senha"
                    required
                >

                <input
                    type="password"
                    id="confirm_password"
                    name="confirmar_senha"
                    placeholder="Confirmar senha"
                    required
                >

                <div id="password-rules" class="password-box">

                    <strong>Sua senha deve conter:</strong>

                    <p id="length">✔ Pelo menos 8 caracteres</p>

                    <p id="lower">✔ Uma letra minúscula</p>

                    <p id="upper">✔ Uma letra maiúscula</p>

                    <p id="number">✔ Um número</p>

                    <p id="special">✔ Um caractere especial</p>

                </div>

                <button type="submit">

                    Criar Conta

                </button>

            </form>

            <div class="links">

                <a href="{% url 'logout' %}">
                    ← Voltar para o Login
                </a>

            </div>

        </div>

    </div>
    <script src="{% static 'js/cadastro.js' %}"></script>
    </body>
</html>