{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastrar Item</title>
        <link rel="stylesheet" href="{% static 'css/style_cadastro_item.css' %}">
    </head>
    <body>
    <div class="overlay">
        <div class="cadastro-card">

            <div class="logo">

                <h1>Novo Item</h1>

                <p>Adicione um item ao seu inventário.</p>

            </div>
            {% if erro %}
                <div class="erro">
                    {{ erro }}
                </div>
            {% endif %}
            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}

                <input
                    type="text"
                    name="nome_produto"
                    placeholder="Nome do Produto"
                    required
                >

                <label class="upload-label">
                    Fotos do produto (até 5)
                </label>

                <input
                    id="imagens"
                    type="file"
                    name="imagens"
                    multiple
                    accept="image/png,image/jpeg,image/webp"
                >

                <div id="preview-imagens">

                </div>
                <input
                    type="text"
                    name="modelo"
                    placeholder="Modelo"
                >

                <input
                    type="number"
                    name="ano"
                    placeholder="Ano"
                >

                <input
                    type="text"
                    name="serie"
                    placeholder="Série"
                >

                <input
                    type="text"
                    name="raridade"
                    placeholder="Raridade"
                >

                <textarea
                    name="descricao"
                    placeholder="Descrição do produto"
                    rows="5"
                ></textarea>

                <select name="categoria">

                    {% for categoria in categorias %}

                        <option value="{{ categoria.id }}">
                            {{ categoria.nome_categoria }}
                        </option>

                    {% endfor %}

                </select>

                <button type="submit">
                    Cadastrar Produto
                </button>

            </form>

            <div class="links">

                <a href="{% url 'perfil' %}">
                    ← Voltar ao Perfil
                </a>

            </div>

        </div>

    </div>
    <script src="{% static 'js/cadastro_item.js' %}"></script>
    </body>
</html>