<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro de Anúncio</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="login-box">
            <h2>Cadastro de anúncio</h2>
            <form>
                <input type="text" placeholder="Titulo" required>
                <input type="text" placeholder="Descrição" required>
                <input type="number" placeholder="Preço" required>
                <input type="submit" value="Entrar">
            </form>
            <a href="perfil.html">Voltar</a>
        </div>
    </body>
</html>