{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meu Inventário</title>
        <link rel="stylesheet" href="{% static 'css/style_inventario.css' %}">
    </head>
    <body>
    <div class="overlay">

        <div class="container">

            <div class="topo">

                <div>
                    <h1>Meu Inventário</h1>
                    <p>Todos os itens cadastrados na sua coleção.</p>
                </div>

                <div class="acoes">

                    <a href="{% url 'cadastro_item' %}" class="botao">
                        + Novo Item
                    </a>

                    <a href="{% url 'perfil' %}" class="botao-voltar">
                        ← Perfil
                    </a>

                </div>

            </div>

            {% if produtos %}

                <div class="grid">

                    {% for produto in produtos %}

                        <div class="card">

                            <img
                                src="{% static 'img/sem_foto.png' %}"
                                alt="Sem Foto"
                            >

                            <h2>{{ produto.nome_produto }}</h2>

                            <span class="categoria">
                                {{ produto.categoria.nome_categoria }}
                            </span>

                            <div class="info">

                                <p><strong>Modelo:</strong> {{ produto.modelo }}</p>

                                <p><strong>Ano:</strong> {{ produto.ano }}</p>

                                <p><strong>Série:</strong> {{ produto.serie }}</p>

                                <p><strong>Raridade:</strong> {{ produto.raridade }}</p>

                            </div>

                        </div>

                    {% endfor %}

                </div>

            {% else %}

                <div class="vazio">

                    <img src="{% static 'img/sem_foto.png' %}">

                    <h2>Nenhum item cadastrado</h2>

                    <p>Cadastre seu primeiro item para começar sua coleção.</p>

                </div>

            {% endif %}

        </div>
    </div>
    </body>
</html>